/* Formatação geral HTML */
html{
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;

}

/* Formatação h1 */
h1{
    color: white;
    font-size: 300%;
    font-weight: bolder;
    text-align: center;
    margin: 3%;

}

/* Fim formatação header */
/* Formatação geral main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 25em;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    background-color: white;
    
}

/* formatações para a div de input */
.input_notas{
    display: flex;
    gap: 1.5%;
    padding: 1rem 1rem 0rem;

}

/* formatações borda input */
input{
    border: 1px solid #b3b2b2;

}

/* formatações box com os valores */
.box_valores{
    font-family: 'Times New Roman', Times, serif;
    height: 8rem;
    width: 20rem;
    border: 1px solid #b3b2b2;
    padding: 0rem 1rem 1rem;
    margin: 0rem 1rem;

}

/* para que não foque quando clicar no textarea */
.box_valores:focus{
    outline: none;
}

/* formatações box com os valores */
.resultado_final{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1rem 1rem;

}

/* formatação botão "calcular média" */
.resultado_final button{
    height: 2em;
    width: 7rem;
    border: 1px solid #b3b2b2;
}